#sign{

	background: url(/sign.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
}


.exsting {
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 4%;
	padding-right: 7%;
	margin-top: 7rem;
}
 .exsting p {
 	margin-top: 4%;
 }
 .existe {
 	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 4%;
	margin-top: 6rem;
	margin-bottom: 10rem;
 }

#page1{
	position: absolute; 
	width: 100%;
	left: 0; 
	text-align: center;
	margin: auto;
}

/*#login {
	margin-right:3%;
}*/

/*#loginn{
	padding-right: 3%;
}*/

#h1{
	font-size:17rem;
	border-bottom-style: dotted;
	padding-bottom: 2%;
}

#h8{
    font-size:8rem;
    color: white;
}

.loginn a {
   
   background: white;
   padding: 4%;
}
