.panel-heading {
padding: 1px 15px;
}

.panel-primary>.panel-heading {
color: #fff;
background-color: #BE0115;
border-color: #BE0115;
}

#closes {
	float: left;
	margin-top: 5px;
}

.panel-footer {
padding: 3px 15px 1px;
box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    /*text-align: center;*/
}

.muted {
color: black;
font-weight: bold;
text-align: center;
margin-top: 5px;
}
.panel{
	z-index: 110;
}

h6{
	font-family: helvetica, arial, sans-serif;
font-size: 14px;
line-height: normal;
font-weight: bold;
}
.panel-primary {
  margin-left: auto;
  margin-right: auto;	
 box-shadow: rgba(0, 0, 0, 0.298039) 0px 3px 7px 0px;
    z-index: 110;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 1px solid rgba(0, 0, 0, 0.298039);
}










#comme{
  /*background-color: white;*/
  text-align: center;
  padding: 1%;
}

.commen{
  background-color: lightyellow;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
    border-radius: 5px;
}
.comments{
  padding-right: 0;
}

#retour{
  margin-top: 1%;
  margin-bottom: 1%;
}

.comments{
  padding-left: 0;
  padding-right: 0;
}